ol,
ul {
  list-style-type: none;
}
.gallery-link {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}
.btn {
  margin: 50px;
}
